@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Сalibri-regular.ttf');
  src: local('../fonts/Calibri-Regular'), local('calibri-regular'),
    url('../fonts/calibri-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/ChunkFive-Regular.otf');
  src: local('../fonts/ChunkFive-Regular'), local('ChunkFive-Regular'),
    url('../fonts/ChunkFive-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Colaborate';
  src: url('../fonts/Colaborate-Light.otf');
  src: local('../fonts/Colaborate-Light'), local('Calaborate-Light'),
    url('../fonts/Colaborate-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Contra-Italic';
  src: url('../fonts/Contra-Italic.ttf');
  src: local('../fonts/Contra-Italic'), local('Contra-Italic'),
    url('../fonts/Contra-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Contra';
  src: url('../fonts/Contra.ttf');
  src: local('../fonts/Contra'), local('Contra'),
    url('../fonts/Contra.ttf') format('truetype');
}

@font-face {
  font-family: 'FlareLightGothic';
  src: url('../fonts/FlareLightGothic.ttf');
  src: local('../fonts/FlareLightGothic'), local('FlareLightGothic'),
    url('../fonts/FlareLightGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'FranklinGothic';
  src: url('../fonts/FranklinGothic.ttf');
  src: local('../fonts/FranklinGothic'), local('FranklinGothic'),
    url('../fonts/FranklinGothic.ttf') format('truetype');
}
